<div class="bg-primary text-white text-center">
  <div class="d-flex justify-content-between">
    <img
      src="/pictures/logo.jpg"
      alt="Logo"
      style="border-radius: 15px; padding: 6px"
    />
    <span
      ><h1>Better Canada Computers</h1>
      <p style="font-size: 20px">Une entreprise canadienne depuis 1866</p></span
    >
    <img
      src="/pictures/proudly_canadian.png"
      alt="proudly_canadian"
      style="
        min-width: 180px;
        max-height: 50px;
        align-self: center;
        margin-right: 10px;
      "
    />
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/accueil">Accueil</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/users/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/aboutUs">About Us</a>
      </li>
    </ul>
  </div>

  <a href="/carts/" class="text-center"
    ><i
      class="bi bi-cart-plus-fill"
      style="font-size: 2rem; color: rgb(249, 250, 252);"
    ></i>
    <span>Cart</span>
  </a>
  <% if (typeof user == 'undefined') { %>
  <a href="/users/login" class="text-center">
    <i
      class="bi bi-person-add"
      style="font-size: 2rem; color: rgb(249, 250, 252)"
    ></i>
    <span>Login</span></a>
  <% } else { %>
    <div style="color: white; margin-right: 10px; margin-left: 15px;">Compte: <br><span style="white-space:nowrap;"><%= user.name %></span></div>
    <a href="/users/logout">
    <i
      class="bi bi-box-arrow-in-right"
      style="font-size: 2rem; color: rgb(249, 250, 252)"
    ></i
  ></a>
  <br />
  <% } %>
  <br />
</nav>

<h2 class="text">Our team</h2>
<div class="containerGroup1">
  <div>
    <div class="card cardAboutUS">
      <div class="imgAboutUs">
        <img
          src="/pictures/jeanBernard.png"
          alt="jBl"
          style="width: auto; border-radius: 20px; padding: 8px"
        />
      </div>
      <h4>Jean-Bernard Le Blanc</h4>
      <p class="title">Applications developer</p>
      <p>Developer back-end</p>
      <p>jeanbernard.leblanc@email.com</p>
      <p><a class="button" href="mailto:someone@example.com">Contact</a></p>
    </div>
  </div>

  <div>
    <div class="card cardAboutUS">
      <div class="imgAboutUs">
        <img
          src="/pictures/aliny.png"
          alt="aliny"
          style="width: auto; border-radius: 20px; padding: 8px"
        />
      </div>
      <h4>Aliny Novais</h4>
      <p class="title">Applications developer</p>
      <p>Developer front-end</p>
      <p>alinynova@gmail.com</p>
      <p><a class="button" href="mailto:someone@example.com">Contact</a></p>
    </div>
  </div>
</div>

<div class="containerGroup2">
  <div>
    <div class="card cardAboutUS">
      <div class="imgAboutUs">
        <img
          src="/pictures/remi.png"
          alt="rémi"
          style="width: auto; border-radius: 20px; padding: 8px"
        />
      </div>
      <h4>Rémi Laframboise</h4>
      <p class="title">Applications developer</p>
      <p>Developer front-end</p>
      <p>remilaframboise@gmail.com</p>
      <p><a class="button" href="mailto:someone@example.com">Contact</a></p>
    </div>
  </div>

  <div>
    <div class="card cardAboutUS">
      <div class="imgAboutUs">
        <img
          src="/pictures/raphael.png"
          alt="raphael"
          style="width: auto; border-radius: 20px; padding: 8px"
        />
      </div>
      <h4>Raphäel Duhamel</h4>
      <p class="title">Applications developer</p>
      <p>Developer back-end</p>
      <p>raphäelDuhamel@email.com</p>
      <p><a class="button" href="mailto:someone@example.com">Contact</a></p>
    </div>
  </div>
</div>

<div class="text-center flex-center">
  <a
    class="btn btn-outline-light btn-floating m-1"
    class="text-white"
    role="button"
    ><i class="fab fa-facebook-f"></i
  ></a>
  <a
    class="btn btn-outline-light btn-floating m-1"
    class="text-white"
    role="button"
    ><i class="fab fa-twitter"></i
  ></a>
  <a
    class="btn btn-outline-light btn-floating m-1"
    class="text-white"
    role="button"
    ><i class="fab fa-google"></i
  ></a>
  <a
    class="btn btn-outline-light btn-floating m-1"
    class="text-white"
    role="button"
    ><i class="fab fa-instagram"></i
  ></a>
  <div class="col-12 p-2 text-white">Follow us</div>
</div>
