<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#accueil">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> </a>
          </li>
        </ul>
      </div>
    
      <a href="/cart"
        ><i
          class="bi bi-cart-plus-fill"
          style="font-size: 2rem; color: rgb(249, 250, 252)"
          ;
        ></i
        >Cart</a
      >
      <br /><br />
      <a href="/users/login"
        ><i
          class="bi bi-person-add"
          style="font-size: 2rem; color: rgb(249, 250, 252)"
        ></i
        >Login</a
      >
      <br />
    
      <a href="/products" class="btn btn-light"> Seller </a>
      <a href="/users/logout">
        <i
          class="bi bi-box-arrow-in-right"
          style="font-size: 2rem; color: rgb(249, 250, 252)"
        ></i
      ></a>
      <br />
    </nav>

<h2 class="text">Our team</h2>
<div class="containerGroup1"> 
  <div  class="col-sm-4">
    <div class="card">
        <div class="imgAboutUs"> <img src="/pictures/jeanBernard.png" alt="jBl" style="width:auto; border-radius: 20px; padding: 8px;"></div>
        <h2>Jean-Bernard Le Blanc</h2>
        <p class="title">Applications developer</p>
        <p>Developer back-end</p>
        <p>jeanbernard.leblanc@email.com</p>
        <p><a class="button" href="mailto:someone@example.com">Contact</a></p>
      </div>
    </div>

  <div class="col-sm-4">
    <div class="card">
    <div class="imgAboutUs"> <img src="/pictures/aliny.png" alt="aliny"style="width:auto; border-radius: 20px; padding: 8px;"></div>
        <h2>Aliny Novais</h2>
        <p class="title">Applications developer</p>
        <p>Developer front-end</p>
        <p>alinynova@gmail.com</p>
        <p><a class="button" href="mailto:someone@example.com">Contact</a></p>
      </div>
    </div>
  </div>

  <div class="containerGroup2"> 
  <div class="col-sm-4">
    <div class="card">
        <div class="imgAboutUs"><img src="/pictures/remi.png" alt="rémi" style="width:auto; border-radius: 20px; padding: 8px;"></div>
        <h2>Rémi Laframboise</h2>
        <p class="title">Applications developer</p>
        <p>Developer front-end</p>
        <p>remilaframboise@gmail.com</p>
        <p><a class="button" href="mailto:someone@example.com">Contact</a></p>
    </div>
  </div>


<div class="col-sm-4">
    <div class="card">
        <div class="imgAboutUs"><img src="/pictures/raphael.png" alt="raphael" style="width:auto; border-radius: 20px; padding: 8px;"></div>
        <h2>Raphäel Duhamel</h2>
        <p class="title">Applications developer</p>
        <p>Developer back-end</p>
        <p>raphäelDuhamel@email.com</p>
        <p><a class="button" href="mailto:someone@example.com">Contact</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
      <a
         class="btn btn-outline-light btn-floating m-1"
         class="text-white"
         role="button"
         ><i class="fab fa-facebook-f"></i
        ></a>
      <a
         class="btn btn-outline-light btn-floating m-1"
         class="text-white"
         role="button"
         ><i class="fab fa-twitter"></i
        ></a>
      <a
         class="btn btn-outline-light btn-floating m-1"
         class="text-white"
         role="button"
         ><i class="fab fa-google"></i
        ></a>
      <a
         class="btn btn-outline-light btn-floating m-1"
         class="text-white"
         role="button"
         ><i class="fab fa-instagram"></i
        ></a>
  <div class="col-12 p-2 text-white">Follow us</div>
</div>
