<div class="bg-primary text-white text-center">
    <div class="d-flex justify-content-between">
      <img
        src="/pictures/logo.jpg"
        alt="Logo"
        style="border-radius: 15px; padding: 6px"
      />
      <span
        ><h1>Better Canada Computers</h1>
        <p style="font-size: 20px">Une entreprise canadienne depuis 1866</p></span
      >
      <img
        src="/pictures/proudly_canadian.png"
        alt="proudly_canadian"
        style="
          min-width: 180px;
          max-height: 50px;
          align-self: center;
          margin-right: 10px;
        "
      />
    </div>
  </div>
  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
       <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/accueil"><i class="fa fa-home"></i>Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/profile"><i class="bi bi-person-circle"></i>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutUs"><i class="bi bi-people-fill"></i>About Us</a>
        </li>
      </ul>
    </div>
  
    <a href="/carts/">
      <i class="bi bi-cart-plus-fill"
        style="font-size: 2rem; color: rgb(249, 250, 252);">
      </i>Cart</a>
    <br />
    <div style="color: white; margin-right: 10px;">Compte: <br><span style="white-space:nowrap;"><%= user.name %></span></div>
    <br />
    <a href="/users/logout">
      <i
        class="bi bi-box-arrow-in-right"
        style="font-size: 2rem; color: rgb(249, 250, 252)"
      ></i
    ></a>
    <br />
  </nav>
  <section class="text-center ctnChat">
   <div class="bg-white imessage">
    <h2 style="font-weight: bold;">Chatting with : <!-- EJS NAME --> (Seller)</h2>
    <hr style="border-top: 3px solid black; margin: 0px;">
    <!-- EJS HERE -->
    <p class="from-me">Hi my update status hasnt changed for the past 3 days what's going on ?</p>
    <p class="from-them margin-b_one">Hi Seller here, sorry for the delay. I have now fowarded ur order and it will shipping shortly.</p>
    <!-- EJS END -->
    <div class="boxDiscussion form-group boxForm">
        <div class="form-floating" style="margin-top: 2rem; text-align: center;">
            <textarea name="message" id="message" class="message" cols="100%" rows="3"></textarea>
            <i class="fas fa-arrow-right fa-lg iconMessage"></i>
           
          </div>
    </div>

   <!-- Input Chat-->


  </section>
  
