<div class="bg-primary text-white text-center">
  <div class="d-flex justify-content-between">
    <img
      src="/pictures/logo.jpg"
      alt="Logo"
      style="border-radius: 15px; padding: 6px"
    />
    <span
      ><h1>Better Canada Computers</h1>
      <p style="font-size: 20px">Une entreprise canadienne depuis 1866</p></span
    >
    <img
      src="/pictures/proudly_canadian.png"
      alt="proudly_canadian"
      style="
        min-width: 180px;
        max-height: 50px;
        align-self: center;
        margin-right: 10px;
      "
    />
  </div>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/accueil">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutUs">About Us</a>
      </li>
    </ul>
  </div>

  <a href="/carts/"
    ><i
      class="bi bi-cart-plus-fill"
      style="font-size: 2rem; color: rgb(249, 250, 252)"
      ;
    ></i
    >Cart</a
  >
  <br /><br />
  <a href="/users/logout">
    <i
      class="bi bi-box-arrow-in-right"
      style="font-size: 2rem; color: rgb(249, 250, 252)"
    ></i
  ></a>
  <br />
</nav>
<section class="text-center ctnChat">
 <div class="bg-white imessage">
  <h2 style="font-weight: bold;"><%= product.seller %></h2>
  <hr style="border-top: 3px solid black; margin: 0px;">
  <div class="chat-messages"></div>
  <div class="chat-form-container">
    <form id="chat-form">
      <input
        id="msg"
        type="text"
        placeholder="Enter Message"
        required
        autocomplete="off"
      />
      <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
    </form>
  </div>
  
 <!-- Input Chat-->

<!-- Passing Info -->
</section>
<p id="productSeller" style="opacity: 0;"><%= product._id %></p>
<p id="user" style="opacity: 0;"><%= user.name %></p>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script  src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index.min.js"></script>
<script>
  const socket = io();
  const room = document.getElementById("productSeller").innerText;
  const username = document.getElementById("user").innerText;
  const chatMessages = document.querySelector('.chat-messages');
  const chatForm = document.getElementById('chat-form');


  console.log(room);

  // Join chatroom 
  socket.emit('joinRoom', {username, room});
  console.log(user);
  // Message from server
  socket.on('message', message => {
    console.log(message);
    outputMessage(message);

    // Scroll down 
    chatMessages.scrollTop = chatMessages.scrollHeight;
  });

  // Message submit
  chatForm.addEventListener('submit', (e) => {
    e.preventDefault();

    // Get message text
    const msg = e.target.elements.msg.value;

    // Emit message to server
    socket.emit('chatMessage', msg);

    // Clear input
    e.target.elements.msg.value = '';
    e.target.elements.msg.focus();
  });


  // Output message to DOM
  function outputMessage(message) {
  const div = document.createElement('div');
  div.classList.add('message');
  div.innerHTML = `<p class="meta"> ${message.username} <span>${message.time}</span></p>
  <p class="chatText">
  ${message.text}
  </p>`;
  document.querySelector('.chat-messages').appendChild(div);
  }
</script>
