<div class="row mt-5">
    <div class="col-md-8 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-sign-in-alt"></i> Connexion
        </h1>
        <p><%- include('./partiels/messages.ejs') %></p>
        <form action="/usagers/login" method="POST">

          <div class="form-floating">
            <i class="fas fa-envelope fa-lg icon"></i>
            <input
              type="email"
              name="_id"
              id="_id"
              class="form-control"
              value="<%= typeof _id != 'undefined' ? _id : '' %>"
              placeholder="Entrez un courriel"
            />
            <label for="_id">Courriel</label>
          </div>

          <div class="form-floating">
            <i class="fa fa-lock fa-lg icon"></i>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              value="<%= typeof password != 'undefined' ? password : '' %>"
              placeholder="Entez un mot de passe"
            />
            <label for="password">Mot de passe</label>
          </div>

          <div style="display: flex; justify-content: center; align-items: center;">
          <button
            type="submit"
            class="btn btn-primary btn-block btn-md"
            style="margin-top: 10px;"
          >
            Connexion
          </button>
          </div>

        </form>
      </div>
    </div>
  </div>