<div class="row mt-5">
  <div class="w-75 m-auto" style="max-width: 1000px">
    <div class="card card-body text-center">
      <div class="d-flex justify-content-between">
        <p><a class="btn btn-dark bt-lg" href="/">Back</a></p>
        <h1 class="text-center mb-3">
          <i class="bi bi-plus-square-fill"></i> Modify your product
        </h1>
        <p style="width: 8%"></p>
      </div>

      <br />
      <form action="/products" method="POST" enctype="multipart/form-data">
        <div class="form-floating">
          <input
            type="text"
            name="productName"
            id="_id"
            class="form-control"
            value="<%=typeof productInfo !='undefined' ? productInfo.productName:'' %>"
            placeholder="Entrez le produit"
          />
          <i class="bi bi-plus-square-fill fa-lg icon"></i>
          <label for="titre">Product Name</label>
        </div>
        <br />

        <div class="form-floating">
          <input
            type="text"
            name="type"
            id="type"
            class="form-control"
            value="<%=typeof productInfo !='undefined' ? productInfo.type:'' %>"
            placeholder="Entrez une catégorie"
          />
          <i class="bi bi-tags-fill fa-lg icon"></i>
          <label for="type">Type</label>
        </div>

        <br />
        <div class="form-floating">
          <input
            type="text"
            name="price"
            id="price"
            class="form-control"
            value="<%=typeof productInfo !='undefined' ? productInfo.price:'' %>"
            placeholder="Entrez un prix"
          />
          <i class="bi bi-currency-dollar fa-lg icon"></i>
          <label for="price">Price</label>
        </div>

        <br />

        <div class="form-floating form">
          <textarea
            name="desc"
            id="desc"
            class="form-control"
            value="<%=typeof productInfo !='undefined' ? productInfo.desc:'' %>"
            placeholder="Entrez une description"
          ></textarea>
          <i class="bi bi-envelope-plus-fill fa-lg icon"></i>
          <label for="desc">Description</label>
        </div>
        <br />
        <div class="form-group">
          <label for="fichier">Teléverser une image</label>
          <input type="file" name="file" id="file" required />
        </div>
        <br />
        <p>
          <button type="submit" class="btn btn-primary btn-block center">
            Confirm
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
